<div class="bar bar-header bar-positive">
  <a class="button icon-left ion-chevron-left backbuttonCustom button-clear " href="#/tab/sports">Back</a>
  <h1 class="title">Deportes</h1>
</div>
  <div class="list list-inset formContent">
    <form name="editSportForm" novalidate="" ng-submit="EditS.save(editSportForm)">
      <label class="item item-input " ng-class="{ 'has-errors' : editSportForm.name.$invalid, 'no-errors' : editSportForm.name.$valid }">
        <input type="text" name="name" placeholder="Nombre" ng-model="EditS.sport.name" required />
      </label>
      <div ng-messages="editSportForm.name.$error" class="error-container" role="alert">
        <div  class="error" ng-message="required"> <i class="ion-information-circled"></i> Este campo es obligatorio</div>
      </div>

      <input type="hidden" ng-model="EditS.sport.id">
      <input type="hidden" ng-model="EditS.sport.action">
      <button class="button button-full button-positive" type="submit">
        Guardar
      </button>
    </form>
  </div>
