<div class="bar bar-header bar-dark">
  <a class="button icon-left ion-chevron-left backbuttonCustom button-clear " href="#/tab/users"></a>
  <h1 class="title">{{calendar.user.firstName}} {{ calendar.user.lastName }}</h1>
  <a class="button icon ion-android-person-add" href="#/tab/editActivity/{{calendar.user.id}}/" ></a>
</div>
<div class="bar bar-subheader bar-stable calendarSubHeader">
  <h2 class="title">{{ calendar.title }}</h2>
  <button class="button button-small button-dark button-clear " ng-click="calendar.loadActivities()">
    <i class="icon ion-android-sync"></i>
  </button>
</div>
<ion-scroll direction="y" >
<calendar ng-model="calendar.currentDate"
          calendar-mode="month"
          query-mode="calendar.queryMode"
          event-source="calendar.userActivities"
          title-changed="calendar.onViewTitleChanged(title)"
          range-changed="calendar.onRangeChanged(startTime, endTime)"
          event-selected="calendar.editDayActivities(event)"
          step="30"></calendar>
</ion-scroll>
