<div class="bar bar-header bar-positive">
  <a class="button icon-left ion-chevron-left backbuttonCustom button-clear " href="#/tab/users"> </a>
  <h1 class="title">Tests de velocidad</h1>
  <a class="button button-positive " href="#/tab/editUserTest/{{ tests.user.id }}/new/" >
    <i class="icon  ion-plus"></i>
  </a>
</div>
<ion-content>
<div class="bar bar-subheader bar-stable calendarSubHeader">
  <h2 class="title">Tests de velocidad para {{ tests.user.firstName}} {{ tests.user.lastName }}</h2>
</div>

  <div class="list testList">
    <div class="item " ng-repeat="test in (tests.tests)">
       <span  class="userName">{{ test.dot | customdate }}
       - {{ test.distance | rythim:test }}
      </span>
      <button class="button button-small button-positive iconRight" ng-click="tests.confirmDelete({{test.id}})">
        <i class="icon  ion-android-delete"></i>
      </button>
      <a class="button button-small button-positive iconRight" href="#/tab/editUserTest/{{tests.user.id}}/edit/{{test.id}}">
        <i class="icon  ion-android-create"></i>
      </a>
    </div>
  </div>
</ion-content>
