.tabs .tab-item .icon.users {
  background-repeat: no-repeat;
  background-position: 50%;
  /*height: 100%;*/
  background-image: url('../img/user.png');
  background-size:contain;
}

.tabs .tab-item .icon.user-enabled {
  background-repeat: no-repeat;
  background-position: 50%;

  background-image: url('../img/user-enabled.png');
  background-size:contain;
}

.formContent{
  width: 80%;
  margin: auto;
  top: 50px;
  padding-bottom: 100px;
}

.trainingHeaderList {
  position: relative;
}

.userListItem .userAvatar{
  float: left;
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.userListItem {
  min-height: 60px;
}
.userListItem .userName{
  float: left;
  margin-top: 6px;
}

.iconRight{
  float: right;
  margin-left: 10px;
}

.bar-positive .button.backbuttonCustom {
  font-size: 14px;
}

.calendarSubHeader {
  height: 44px;
}

.calendarSubHeader .title {
  position: relative;
  height: 44px;
  font-size: 15px;
  line-height: 40px;
}
.calendar-container {
  position: relative;
  margin-top: 88px;
  height: 250%;
}

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
  margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
   color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 4px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}
.scroll-view {
  width: 100%;
  height: 100%;
}

.activity-time-input[type=number] , .activity-time-field .activity-time-input {
  float: left;
  border: 1px solid #ccc;
  width: 60px;
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
}

.activity-time-component{
  width: 150px;
  float:left;
  font-size: 12px;
}

.activity-time-field .activity-time-label, .activity-time-label {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: 15px;
}
.activities-button-toolbar{
  text-align: right;
  margin-bottom: 10px;
}

.activities-button-toolbar .button-small.icon:before{
  margin-top: 6px;
}

.activity-item-toolbar {
  margin-bottom: 20px;
  margin-top: 10px;
  float: left;
  width:100%;
}

.activity-item-toolbar span{
  margin-top: 8px;
  float: left;
  font-size: 16px;
  width: 200px;
}

.activity-item-toolbar button {
  float:right;
  margin-left: 10px;
}

.item-activity-separator{
  margin-top: 10px;
  color: #CCC;
}

.button-save {
  margin: auto;
  margin-top: 20px;
  width: 100px;
  display: block;
}

input.custom-input-field {
  height: 30px;
  border: solid 1px #CCC;
}

label.custom-item-label {
  padding: 8px;
}

.tabs-striped.tabs-dark .tab-item.tab-item-active, .tabs-striped.tabs-dark .tab-item.active, .tabs-striped.tabs-dark .tab-item.activated {
  border-color: #111111;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.activity-range-field{
  float: left;
  width: 100%;
}
